# stack

In [5]:
a = [1,2,3,4,5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [6]:
c = a.pop() # 20출력

In [7]:
a

[1, 2, 3, 4, 5, 10]

In [8]:
a.pop() # 10출력

10

In [9]:
a

[1, 2, 3, 4, 5]

In [10]:
c

20

In [11]:
word = input('input a word')
word_list = list(word)
# print(word_list)
for _ in range(len(word_list)):
    print(word_list.pop())
    print(word_list)

r
['n', 'a', 'v', 'e']
e
['n', 'a', 'v']
v
['n', 'a']
a
['n']
n
[]

# Queue

In [23]:
a = [1,2,3,4,5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [22]:
first = a.pop(0)
a

[]

# Tuple

In [25]:
t = (1,2,3)
type(t)

tuple

In [28]:
len(t)

3

In [31]:
# t[1] = 5

In [32]:
t = (1)
type(1)

int

In [33]:
t = (1, )
type(t)

tuple

In [36]:
s = set([1,2,3,1,2,3])
type(s)

set

In [37]:
a = {1,2,3,4,5}
type(a)

set

In [38]:
s = {2,3}
s

{2, 3}

In [39]:
s.add(1)
s

{1, 2, 3}

In [40]:
s.remove(1)
s

{2, 3}

In [42]:
s.update({4,5,6,7})
s

{2, 3, 4, 5, 6, 7}

In [44]:
s.discard(3)
s

{2, 4, 5, 6, 7}

In [45]:
s.clear()
s

set()

In [46]:
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])
type(s1), type(s2)

(set, set)

In [47]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [48]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [49]:
s1.intersection(s2)

{3, 4, 5}

In [50]:
s1 & s2

{3, 4, 5}

In [51]:
s1.difference(s2)

{1, 2}

In [52]:
s1 - s2

{1, 2}

In [53]:
country_code = dict()

In [56]:
country_code = { 'America' : 1 , 'Korea' : 82, 'China' : 86}
country_code

{'America': 1, 'Korea': 82, 'China': 86}

In [58]:
country_code.items() # dict 데이터 출력

dict_items([('America', 1), ('Korea', 82), ('China', 86)])

In [60]:
for i in country_code.items():
    print(i)
    print(type(i))

('America', 1)
<class 'tuple'>
('Korea', 82)
<class 'tuple'>
('China', 86)
<class 'tuple'>

In [62]:
country_code.keys() # key 값만 출력

dict_keys(['America', 'Korea', 'China'])

In [63]:
country_code['German'] = 49
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'German': 49}

In [64]:
country_code['German'] = 55
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'German': 55}

In [65]:
country_code.values()

dict_values([1, 82, 86, 55])

In [68]:
for k, v in country_code.items():
    print('Key : ', k)
    print('Value : ', v)

Key :  America
Value :  1
Key :  Korea
Value :  82
Key :  China
Value :  86
Key :  German
Value :  55